.create {
    position: absolute;
    padding: 0 24px 0 24px;
    top: 60px;
    width: 653px;
    height: 0px;
    position: absolute;
    background: #30363D;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
    border-radius: 32px;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &.active {
        height: fit-content;
        background: #30363D;
        box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        transition: 0.2s;
        visibility: visible;
        opacity: 1;
        overflow: scroll;
        overflow: hidden;
    }

    &__container {
        transition: 0.3s;
        height: 0;
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
    }

    &__container.active {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(29, 34, 40, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 100;
        overflow: scroll;
        transition: 0.3s;
        visibility: visible;
        opacity: 1;
    }

    &__cross {
        top: 51px;
        right: 24px;
        position: absolute;
        width: 20px;
        height: 20px;
    }

    &__cross:hover {
        cursor: pointer;
    }

    &__cross::before,
    &__cross::after {
        content: "";
        position: absolute;
        background-color: white;
    }

    &__cross::before {
        width: 3px;
        height: 100%;
        right: 9px;
        top: 0px;
        transform: rotate(45deg);
        border-radius: 4px;
        transition: 0.2s;
    }

    &__cross::after {
        width: 3px;
        height: 100%;
        top: 0px;
        left: 7px;
        transform: rotate(-45deg);
        border-radius: 4px;
        transition: 0.2s;
    }

    &__title {
        margin: 45px 0 0px 0;
        font-family: 'Raleway-700';
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
    }

    &__progress {
        margin: 16px 0 0 0;
        display: flex;
        flex-direction: row;
        gap: 6px;
    }

    &__progress-segment {
        width: 150px;
        height: 5px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 12px;

        &.active {
            background: linear-gradient(270deg, #8743FF 0%, #4136F1 100%);
            transition: 0.3s;
        }
    }

    &__progress-numbers {
        margin: 16px 0 0 0;
        font-family: 'Raleway-600';
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.5);
    }




    &__content {
        height: 0;
        overflow: hidden;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.active {
            height: auto;
            visibility: visible;

            &.third {
                align-items: flex-start;
            }
        }
    }

    &__heading {
        margin: 20px 0 0 0;
        font-family: 'Raleway-600';
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
    }

    &__file-field {
        margin: 12px 0 0 0;
        width: 599px;
        height: 360px;
        border: 1px dashed #C4C4C4;
        border-radius: 16px;
    }

    &__requirements {
        margin: 124px 0 0 0;
        font-family: 'Raleway-400';
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
    }

    &__file-text {
        margin: 30px 0 0 0;
        font-family: 'Raleway-400';
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
    }

    &__step-img {
        margin: 12px 0 0 0;
        width: 599px;
        height: 599px;
        border-radius: 20px;
    }

    &__icons {
        margin: 16px 0 0 3px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-self: flex-start;
    }

    &__icon {
        width: 24px;
        height: 24px;
    }

    &__input-name {
        margin: 8px 0 0 0;
        width: 605px;
        height: 40px;

        background: #1D2228;
        border-radius: 8px;
    }

    &__input-desc {
        margin: 8px 0 0 0;
        width: 605px;
        height: 120px;

        background: #1D2228;
        border-radius: 8px;
    }

    &__types {
        margin: 12px 0 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }

    &__type {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;

        &.active {
            .create__radio {
                border: 1px solid #8743FF;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .create__radio-inside {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: linear-gradient(270deg, #8743FF 0%, #D8C2FF 100%);
            }

            .create__type-name {
                color: #FFFFFF;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__radio {
        width: 20px;
        height: 20px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
    }

    &__type-name {
        font-family: 'Raleway-600';
        font-size: 16px;
        line-height: 19px;
        color: rgba(255, 255, 255, 0.5);
    }

    &__options {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    &__copies {
        display: flex;
        flex-direction: column;

        gap: 6px;
    }

    &__quantity {

        display: flex;
        flex-direction: row;
        gap: 11px;
        align-items: center;
    }

    &__minus {
        margin-top: -4px;
        font-family: 'Raleway-700';
        font-size: 40px;
        line-height: 47px;
        color: #FFFFFF;

        &.plus {
            margin-top: 0px;
        }
    }

    &__quantity-number {
        font-family: 'Raleway-600';
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }

    &__sum {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }

    &__sum-wrapper {
        display: flex;
        flex-direction: row;
        gap: 9px;
        align-items: center;
    }

    &__sum-input-container {
        width: 176px;
        height: 40px;
        background: #1D2228;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        gap: 4px;
        font-family: 'Raleway-500';
        color: #FFFFFF;
    }

    &__sum-input {
        margin: 11px 0 0 16px;
        width: 95px;
        height: 19px;
        font-family: 'Raleway-600';
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        background: transparent;
    }

    &__input-placeholder {
        margin: 12px 0 0 0;
        font-family: 'Raleway-600';
        font-size: 16px;
        line-height: 19px;
        color: rgba(255, 255, 255, 0.5);
    }

    &__dollars {
        font-family: 'Raleway-600';
        font-size: 16px;
        line-height: 19px;
        color: rgba(255, 255, 255, 0.5);
    }



    &__time {
        margin-left: -20px;
        height: 0;
        visibility: hidden;

        &.active {
            height: auto;
            visibility: visible;
        }
    }







    &__button {
        margin: 32px 0 32px 0;
        font-family: 'Raleway-700';
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        width: 157px;
        height: 40px;
        background: linear-gradient(270deg, #8743FF 0%, #4136F1 100%);
        // box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
        border-radius: 12px;
    }
}