.main {
    margin: 40px 0 0 0;
    width: 100%;
    max-width: 1366px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    min-width: 0;
}

.main-hero {
    margin: 272px 0 0 24px;

    &__user {
        display: flex;
        flex-direction: row;
        gap: 11.5px;

    }

    &__avatar {
        margin: 0 0 0 1px;
        width: 49px;
        height: 49px;
    }

    &__user-container {
        margin: 6px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__username {
        font-family: 'Raleway-700';
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }

    &__usertag {
        font-family: 'Raleway-500';
        font-size: 14px;
        line-height: 16px;
        background: linear-gradient(270deg, #8743FF 0%, #D8C2FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }




    &__title {
        margin: 20px 0 0 0;
        font-family: 'Raleway-700';
        font-size: 32px;
        line-height: 38px;
        color: #FFFFFF;
    }

    &__text {
        max-width: 516px;
        margin: 13px 0 0 0;
        font-family: 'Raleway-500';
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;

        span {
            color: rgba(255, 255, 255, 0.5);
        }
    }



    &__options {
        margin: 16px 0 0 0;
        width: 100%;
        max-width: 516px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__sold {
        display: flex;
        flex-direction: row;
        margin: 11px 0 0 0;
    }

    &__sold-word {
        margin: 1px 12.5px 0 0;
        font-family: 'Raleway-600';
        font-size: 14px;
        line-height: 16px;
        color: rgba(255, 255, 255, 0.5);
    }

    &__sold-icon {
        width: 19px;
        height: 19px;
    }

    &__price {
        margin: 0 0 0 5px;
        font-family: 'Raleway-600';
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    &__view {
        margin: 0 4px 0 0;
        width: 97px;
        height: 40px;
        background: linear-gradient(270deg, #8743FF 0%, #4136F1 100%);
        box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
        border-radius: 12px;
        padding: 12px 32px;
        font-family: 'Raleway-700';
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
    }

    &__button {
        width: 40px;
        height: 40px;
        mix-blend-mode: normal;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        padding: 0px;
        background: transparent;
    }

    &__button-icon {
        width: 20px;
        height: 20px;
    }
}

.main-slider {
    margin: 4px 0 0 0;
    max-width: 519px;
    height: 548px;

    &__wrapper {
        overflow-x: hidden;
        width: 100%;
        max-width: 786px;
    }

    &__img {
        width: 524px;
        height: 524px;
    }

    .swiper-slide {
        width: 524px !important;
        height: 524px !important;
        left: -34px !important;
        bottom: 7px !important;
        transform: 0deg !important;
    }
}

.swiper-pagination {
    bottom: 0px !important;
    left: -56px !important;
}

.swiper-pagination-bullet {
    width: 95px !important;
    height: 5px !important;
    border-radius: 99px !important;
    background: rgba(255, 255, 255, 0.5) !important;
}


.main-filters{
margin: 76px 0 0 0;
width: 100%;
max-width: 1318px;
display: flex;
flex-direction: row;
gap: 10px;

    &__filter{
        height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        filter: drop-shadow(0px 15px 30px rgba(20, 102, 204, 0.16));
        border-radius: 99px;
        padding: 12px 24px 0 24px;
        display: flex;
        flex-direction: row;
        gap: 6px;
        font-family: 'Raleway-700';
        font-size: 14px;
        line-height: 16px;    
        color: #FFFFFF;
    }
    &__arrow{
        margin: 6px 0 0 0;
        width: 8px;
        height: 5px;
    }
}