.search {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    background: transparent;

    &__wrapper {
        margin: -1px 0 0 0;
        width: 100%;
        max-width: 1200px;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__logo {
        width: 112px;
        height: 33px;
    }

    &__buttons {
        margin-right: 100px;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    &__inventory-button {
        width: 137px;
        height: 45px;
        border: 1px solid #7481FF;
        border-radius: 2px;
        padding: 15px 17.3px;
        font-family: 'Gilroy-700';
        font-size: 16px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #7481FF;
        background: transparent;
    }

    &__request-button {
        width: 200px;
        height: 45px;
        background: #7481FF;
        border-radius: 2px;
        padding: 16px 1px 0 0;
        display: flex;
        justify-content: center;
        font-family: 'Gilroy-700';
        font-size: 16px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}



.menu {
    position: absolute;
    right: 0px;
    top: 0;
    height: 815px;
    width: 0;
    display: flex;
    flex-direction: column;
    visibility: hidden;

    &.active {
        width: 570px;
        height: 815px;
        background: #FFFFFF;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
        visibility: visible;
        border-radius: 20px;
        z-index: 20;
    }

    &__content {}

    &__links {
        width: 0;
        height: 0;
        visibility: hidden;

        &.active {
            margin: 130px 0 0 60px;
            width: auto;
            height: auto;
            visibility: visible;
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: relative;
            z-index: 20;
        }
    }

    &__link {
        width: fit-content;
        font-family: 'Gilroy-700';
        font-size: 25px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #41456B;
        background-color: transparent;
    }




    &__contact {
        width: auto;
        height: auto;
        visibility: hidden;

        &.active {
            visibility: visible;
            margin: 92px 0 0 60px;
            display: flex;
            flex-direction: column;
            gap: 60px;
        }
    }

    &__title {
        font-family: 'Gilroy-700';
        font-size: 30px;
        line-height: 140%;
        color: #41456B;
        max-width: 390px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__input-wrapper {
        width: 100%;
        max-width: 390px;
        height: 45px;
        border: 1px solid #D7D7D7;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
    }

    &__input-icon {
        margin: 10px 10px 0 10px;
        width: 24px;
        height: 24px;
    }

    &__input {
        margin: 5px 0 0 0;
        font-family: 'Gilroy-500';
        font-size: 16px;
        line-height: 159%;

        &::placeholder {
            color: #D7D7D7;
        }
    }


    &__send-button {
        width: 390px;
        height: 45px;
        background: #7481FF;
        border-radius: 2px;
        font-family: 'Gilroy-700';
        font-size: 16px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__contact-text {
        margin: 100px 0 0 0;
        font-family: 'Gilroy-600';
        font-size: 20px;
        line-height: 25px;
        color: #41456B;
    }

    &__socials {
        position: absolute;
        bottom: 105px;
        left: 60px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &__social {}
}

//***********MENU_BURGER*********    
.menu-icon {
    z-index: 25;
    display: flex;
    position: absolute;
    top: 25px;
    right: 0px;
    width: 37px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.menu-icon.active {
    top: 25px;
    right: 20px;
    transition: right 0.2s;
}


.menu-icon::before,
.menu-icon::after,
.menu-icon span {
    left: 0;
    position: absolute;
    height: 4px;
    width: 100%;
    transition: all 0.3s ease 0s;
    background: #41456B;
}

.menu-icon span {
    height: 4px;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
}

.menu-icon::before {
    top: 0;
    border-radius: 7px;
    width: 100%;
}

.menu-icon::after {
    bottom: 0;
    border-radius: 7px;
    width: 100%;
}

.menu-icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
    border-radius: 7px;
}

.menu-icon.active span {

    top: 50%;
    transform: rotate(45deg) translate(0px, 0);
}

.menu-icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, 0);

}

.menu-icon.active::after {
    transform: scale(0) translate(0px, -50%);

}




@media (max-width: 1200px) {
    .search {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 80px;
        background: transparent;

        padding: 0 24px 0 24px;

        &__wrapper {
            margin: -1px 0 0 0;
            width: 100%;
            max-width: 1200px;
            height: 80px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        &__logo {
            width: 112px;
            height: 33px;
        }

        &__buttons {
            margin-right: 100px;
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        &__inventory-button {
            width: 137px;
            height: 45px;
            border: 1px solid #7481FF;
            border-radius: 2px;
            padding: 16px 17.3px;
            font-family: 'Gilroy-700';
            font-size: 16px;
            line-height: 14px;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #7481FF;
        }

        &__request-button {

            width: 178px;

            height: 45px;
            background: #7481FF;
            border-radius: 2px;
            padding: 16px 1px 0 0;
            display: flex;
            justify-content: center;
            font-family: 'Gilroy-700';
            font-size: 16px;
            line-height: 14px;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }



    .menu {
        position: absolute;
        right: 0px;
        top: 0;
        height: 815px;
        width: 0;
        display: flex;
        flex-direction: column;
        visibility: hidden;

        &.active {
            width: 570px;
            height: 815px;
            background: #FFFFFF;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
            visibility: visible;
            border-radius: 20px;
        }

        &__content {}

        &__links {
            width: 0;
            height: 0;
            visibility: hidden;

            &.active {
                margin: 130px 0 0 60px;
                width: auto;
                height: auto;
                visibility: visible;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }

        &__link {
            width: fit-content;
            font-family: 'Gilroy-700';
            font-size: 25px;
            line-height: 140%;
            letter-spacing: 0.02em;
            color: #41456B;
        }




        &__contact {
            width: auto;
            height: auto;
            visibility: hidden;

            &.active {
                visibility: visible;
                margin: 92px 0 0 60px;
                display: flex;
                flex-direction: column;
                gap: 60px;
            }
        }

        &__title {
            font-family: 'Gilroy-700';
            font-size: 30px;
            line-height: 140%;
            color: #41456B;
            max-width: 390px;
        }

        &__form {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        &__inputs {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__input-wrapper {
            width: 100%;
            max-width: 390px;
            height: 45px;
            border: 1px solid #D7D7D7;
            border-radius: 2px;
            display: flex;
            flex-direction: row;
        }

        &__input-icon {
            margin: 10px 10px 0 10px;
            width: 24px;
            height: 24px;
        }

        &__input {
            margin: 5px 0 0 0;
            font-family: 'Gilroy-500';
            font-size: 16px;
            line-height: 159%;

            &::placeholder {
                color: #D7D7D7;
            }
        }


        &__send-button {
            width: 390px;
            height: 45px;
            background: #7481FF;
            border-radius: 2px;
            font-family: 'Gilroy-700';
            font-size: 16px;
            line-height: 14px;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        &__contact-text {
            margin: 100px 0 0 0;
            font-family: 'Gilroy-600';
            font-size: 20px;
            line-height: 25px;
            color: #41456B;
        }

        &__socials {
            position: absolute;
            bottom: 105px;
            left: 60px;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        &__social {}
    }

    //***********MENU_BURGER*********    
    .menu-icon {
        z-index: 25;
        display: flex;
        position: absolute;
        top: 25px;
        right: 0px;
        width: 37px;
        height: 30px;
        cursor: pointer;
        transition: 0.2s;
    }

    .menu-icon.active {
        top: 25px;
        right: 20px;
        transition: right 0.2s;
    }


    .menu-icon::before,
    .menu-icon::after,
    .menu-icon span {
        left: 0;
        position: absolute;
        height: 4px;
        width: 100%;
        transition: all 0.3s ease 0s;
        background: #41456B;
    }

    .menu-icon span {
        height: 4px;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: "";
    }

    .menu-icon::before {
        top: 0;
        border-radius: 7px;
        width: 100%;
    }

    .menu-icon::after {
        bottom: 0;
        border-radius: 7px;
        width: 100%;
    }

    .menu-icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
        border-radius: 7px;
    }

    .menu-icon.active span {

        top: 50%;
        transform: rotate(45deg) translate(0px, 0);
    }

    .menu-icon.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, 0);

    }

    .menu-icon.active::after {
        transform: scale(0) translate(0px, -50%);

    }
}

@media (max-width: 650px) {
    .search {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        height: 55px;

        background: transparent;

        padding: 0 20px 0 20px;

        &__wrapper {
            margin: -1px 0 0 0;
            width: 100%;
            max-width: 1200px;

            height: 55px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        &__logo {

            width: 81px;
            height: 24px;

        }

        &__buttons {

            margin-right: 53px;

            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        &__inventory-button {

            display: none;

        }

        &__request-button {
            width: 130px;
            height: 35px;

            background: #7481FF;
            border-radius: 2px;

            padding: 11px 1px 0 0;

            display: flex;
            justify-content: center;
            font-family: 'Gilroy-700';

            font-size: 14px;

            line-height: 14px;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }



    .menu {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 0;
        height: 540px;
        width: 0;
        display: flex;
        flex-direction: column;
        visibility: hidden;

        &.active {
            margin-right: auto;
            width: 360px;
            height: 540px;
            background: #FFFFFF;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
            visibility: visible;
            border-radius: 20px;
        }

        &__content {}

        &__links {
            width: 0;
            height: 0;
            visibility: hidden;

            &.active {

                margin: 100px 0 0 40px;

                width: auto;
                height: auto;
                visibility: visible;
                display: flex;
                flex-direction: column;

                gap: 25px;

            }
        }

        &__link {
            width: fit-content;
            font-family: 'Gilroy-700';

            font-size: 20px;

            line-height: 140%;
            letter-spacing: 0.02em;
            color: #41456B;
        }




        &__contact {
            width: auto;
            height: auto;
            visibility: hidden;

            &.active {
                visibility: visible;

                margin: 85px 0 0 21px;

                display: flex;
                flex-direction: column;

                gap: 30px;
            }
        }

        &__title {
            font-family: 'Gilroy-700';
            font-size: 24px;
            line-height: 140%;
            color: #41456B;
            max-width: 390px;
        }

        &__form {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        &__inputs {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__input-wrapper {
            width: 100%;

            max-width: 320px;

            height: 45px;
            border: 1px solid #D7D7D7;
            border-radius: 2px;
            display: flex;
            flex-direction: row;
        }

        &__input-icon {
            margin: 10px 10px 0 10px;
            width: 24px;
            height: 24px;
        }

        &__input {
            margin: 5px 0 0 0;
            font-family: 'Gilroy-500';

            font-size: 14px;

            line-height: 159%;

            &::placeholder {
                color: #D7D7D7;
            }
        }


        &__send-button {

            width: 320px;
            height: 35px;

            background: #7481FF;
            border-radius: 2px;
            font-family: 'Gilroy-700';

            font-size: 14px;

            line-height: 14px;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        &__contact-text {
            margin: -5px 0 0 0;
            font-family: 'Gilroy-600';

            font-size: 18px;

            line-height: 25px;
            color: #41456B;
        }

        &__socials {
            position: absolute;
            bottom: 40px;
            left: 40px;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        &__social {
            width: 30px;
            height: 30px;
        }
    }

    //***********MENU_BURGER*********    
    .menu-icon {
        z-index: 25;
        display: flex;
        position: absolute;
        top: 15px;
        right: 0px;

        width: 30px;
        height: 25px;

        cursor: pointer;
        transition: 0.2s;
    }

    .menu-icon.active {
        top: 25px;
        right: 20px;
        transition: right 0.2s;
    }


    .menu-icon::before,
    .menu-icon::after,
    .menu-icon span {
        left: 0;
        position: absolute;

        height: 3.3px;

        width: 100%;
        transition: all 0.3s ease 0s;
        background: #41456B;
    }

    .menu-icon span {

        height: 3px;

    }

    .menu-icon::before,
    .menu-icon::after {
        content: "";
    }

    .menu-icon::before {
        top: 0;
        border-radius: 7px;
        width: 100%;
    }

    .menu-icon::after {
        bottom: 0;
        border-radius: 7px;
        width: 100%;
    }

    .menu-icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
        border-radius: 7px;
    }

    .menu-icon.active span {

        top: 50%;
        transform: rotate(45deg) translate(0px, 0);
    }

    .menu-icon.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, 0);

    }

    .menu-icon.active::after {
        transform: scale(0) translate(0px, -50%);

    }
}