.search{
    width: 100%;
    max-width: 1366px;
    height: 56px;
    display: flex;
    flex-direction: row;
    background: #30363D;
    border-radius: 0px 0px 32px 32px;
    &__logo{
        margin: 4.5px 0 0 25px;
        width: 47px;
        height: 47px;
    }
    &__bar{
        margin: 11.5px 0 0 25px;
        width: 100%;
        max-width: 1104px;
        height: 32px;    
        background: #1D2228;
        border-radius: 12px;
    }
    &__icon{
        margin: 6.5px 0 0 12px;
    }
    &__input{
        margin: 10.5px 0 0 8px;
        width: 100%;
        max-width: 1000px;
        font-family: 'Raleway-600';
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.5);
        background: transparent;
    }
    &__button{
        margin: 11px 0 0 15px;
        padding: 11px 19px;
        width: 126px;
        height: 33px;
        background: linear-gradient(270deg, #8743FF 0%, #4136F1 100%);
        box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
        border-radius: 12px;
        font-family: 'Raleway-700';
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
    }
}


.connect {
    width: 653px;
    height: 0px;
    position: absolute;
    background: #30363D;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
    border-radius: 32px;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;

    &__container.active {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(29, 34, 40, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }

    &.active {
        transition: 0.3s;
        height: 354px;
        visibility: visible;
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__cross {
        top: 51px;
        right: 24px;
        position: absolute;
        width: 20px;
        height: 20px;
    }

    &__cross:hover {
        cursor: pointer;
    }

    &__cross::before,
    &__cross::after {
        content: "";
        position: absolute;
        background-color: white;
    }

    &__cross::before {
        width: 3px;
        height: 100%;
        right: 8px;
        top: 0px;
        transform: rotate(45deg);
        border-radius: 4px;
        transition: 0.2s;
    }

    &__cross::after {
        width: 3px;
        height: 100%;
        top: 0px;
        left: 8px;
        transform: rotate(-45deg);
        border-radius: 4px;
        transition: 0.2s;
    }
    &__title {
        margin: 45px 0 0 0;
        font-family: 'Raleway-700';
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
    }

    &__videos {
        margin: 43px  0 0 0px;
        display: flex;
        flex-direction: row;
        gap: 57px;
    }

    &__video-box {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__number {
        width: 40px;
        height: 40px;
        background: #FFFFFF;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
        position: absolute;
        top: -27px;
        left: -10px;
        padding: 6px 0 0 15px;
        font-family: 'Raleway-700';
        font-size: 20px;
        line-height: 23px;
        color: #1F2B38;
    }

    &__video {
        width: 160px;
        height: 90px;
    
        background: #C4C4C4;
        border-radius: 16px;
    }

    &__description {
        margin: 0 0 0 8px;
        width: 143px;
        font-family: 'Raleway-500';
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
    }

    &__button {
        margin: 32px 0 0 0;
        width: 157px;
        height: 40px;
        background: linear-gradient(270deg, #8743FF 0%, #4136F1 100%);
        box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
        border-radius: 12px;
        padding: 12px 0 0 0 ;
        font-family: 'Raleway-700';
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
    }
}