.show-all-button{
    margin: 24px 0 0 0;
    width: 121px;
    height: 40px;
    background: linear-gradient(270deg, #8743FF 0%, #4136F1 100%);
    opacity: 0.2;
    border-radius: 12px;
    padding: 12px 32px;

}

.show-all-text{
    position: relative;
    top: -27px;
    font-family: 'Raleway-700';
    font-size: 14px;
    line-height: 16px;
    background: linear-gradient(270deg, #8743FF 0%, #D8C2FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    cursor: pointer;
}

.search-page__cards{
    width: 100%;
    max-width: 1320px;
    height: 550px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .main-filters{
        margin: 32px 0 0 0;
    }
}
