@import 'fonts.scss';
@import 'reset.scss';

@import 'main.scss';
@import 'calculator-page.scss';
@import 'video-page.scss';
@import 'about.scss';
@import 'loan.scss';
@import 'terms.scss';
@import 'blog.scss';
@import 'article.scss';
@import 'might-like.scss';
@import 'quiz.scss';
@import 'catalog.scss';

@import 'search.scss';
@import 'calculator.scss';
@import 'interesting.scss';
@import 'footer.scss';
html {
    overflow-x: hidden;
    min-width: 0;

}

html._lock {
    overflow-y: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    min-width: 0;
}

body._lock {
    overflow-y: hidden;
}

#root{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;

    min-width: 0;
}

.height{
    height: 10000px;
}