@import 'fonts.scss';
@import 'reset.scss';

@import 'main.scss';
@import 'artwork.scss';
@import 'creator.scss';
@import 'profile.scss';
@import 'search-page.scss';

@import 'search.scss';
@import 'cards.scss';
@import 'featured.scss';
@import 'addartwork.scss';
html {
    overflow-x: hidden;
    min-width: 0;

}

html._lock {
    overflow-y: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    min-width: 0;
}

body._lock {
    overflow-y: hidden;
}

#root{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;

    min-width: 0;
}

.height{
    height: 10000px;
}